*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Merriweather', serif;
    background: rgb(235, 235, 235);
   
}
.container{
    width: 90%;
    height: 100vh;
    background: white;
    margin: 0 auto;
    position: relative;
}
.navigator-container{
    width: 90%;
    height: 6rem;
    background: white;
    z-index: 10;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    position: fixed;
    width: 90%;
    background: white;
    -webkit-box-shadow:0px 1px 1px #585858;
    -moz-box-shadow:0px 1px 1px #585858;
    box-shadow:0px 3px 12px #585858;
    z-index: 10;
}

.logo{
    margin-left: 2rem;

}
.logo img{
    width: 240px;
    margin-top: -125px;
}
ul{
    display: flex;
    justify-content: space-around;
}
ul li {
    display: flex;
    justify-content: space-between;
    margin-right: 2.3rem;
    font-weight: 100;
    font-size: 1.3rem;
}
ul li a {
    text-decoration: none;
    color: black;
}
a:hover{
    color:rgb(90, 48, 19);
}
.nav-btn{
    padding: .7rem 1.2rem;
    margin-left: 4rem;
    border: 1px solid black;
    background: white;
    transition: all .6s ease;
}
.nav-btn:hover{
    background:rgb(90, 48, 19);
    color: white;
    transition: all .6s ease;
    border: none;
}
a, button{
    cursor: pointer;
}

/* Hero section start */
  .hero{
      width: 100%;
      position: absolute;
  }
  .bgHero{
      position: absolute;
      top: 16rem;
      width: 100%;
      background-image: url('hero.jpg');
      background-size: cover;
      background-position: center;
      height: 100vh;
  }
  .textHero{
      background: white;
      width: 50%;
      text-align: center;
      margin: 0 auto;
      position: absolute;
      top: -2rem;
      left: 25%;
      padding: 5rem 7rem;
      
  }
  .textHero h2{
      font-weight: 100;
       margin-top: -6rem;
  }
  .textHero p{
      margin: 2.6rem 0;
  }
  .textHero .hero-btn{
      padding: 1.2rem 1.7rem;
      margin-top: 1rem;
      border: none;
      background:rgb(90, 48, 19);
      color: white;
      transition: all .6s ease;
  }
  .textHero .hero-btn:hover{
      background: white;
      color: black;
      transition: all .6s ease;
      border: 1px solid black;
  }
/* Hero sectio end */