*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Merriweather', serif;
    background: rgb(235, 235, 235);
   
}
.container{
    width: 90%;
    height: 100vh;
    background: white;
    margin: 0 auto;
    position: relative;
}
.navigator-container{
    width: 90%;
    height: 6rem;
    background: white;
    z-index: 10;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    position: fixed;
    width: 90%;
    background: white;
    -webkit-box-shadow:0px 1px 1px #585858;
    -moz-box-shadow:0px 1px 1px #585858;
    box-shadow:0px 3px 12px #585858;
    z-index: 10;
}

.logo{
    margin-left: 2rem;

}
.logo img{
    width: 240px;
    margin-top: -125px;
}
ul{
    display: flex;
    justify-content: space-around;
}
ul li {
    display: flex;
    justify-content: space-between;
    margin-right: 2.3rem;
    font-weight: 100;
    font-size: 1.3rem;
}
ul li a {
    text-decoration: none;
    color: black;
}
a:hover{
    color:rgb(90, 48, 19);
}
.nav-btn{
    padding: .7rem 1.2rem;
    margin-left: 4rem;
    border: 1px solid black;
    background: white;
    transition: all .6s ease;
}
.nav-btn:hover{
    background:rgb(90, 48, 19);
    color: white;
    transition: all .6s ease;
    border: none;
}
a, button{
    cursor: pointer;
}

/* Hero section start */
  .hero{
      width: 100%;
      position: absolute;
      padding-bottom: 3rem;
  }
  .bgHero{
      position: absolute;
      top: 16rem;
      width: 100%;
      background-image: url('hero.jpg');
      background-size: cover;
      background-position: center;
      height: 100vh;
      
  }
  .textHero{
      background: white;
      width: 50%;
      text-align: center;
      margin: 0 auto;
      position: absolute;
      top: -3.5rem;
      left: 25%;
      padding: 5rem 7rem;
      
  }
  .textHero h2{
      font-weight: 100;
       margin-top: -6rem;
       font-size: 2.2rem;
       line-height: 1.6;
  }
  .textHero p{
      margin: 2.6rem 0;
  }
  .textHero .hero-btn{
      padding: 1.2rem 1.7rem;
      margin-top: 1rem;
      border: none;
      background:rgb(90, 48, 19);
      color: white;
      transition: all .6s ease;
  }
  .textHero .hero-btn:hover{
      background: white;
      color: black;
      transition: all .6s ease;
      border: 1px solid black;
  }
/* Hero sectio end */

/* hello section start */
.hello{
    background: white;
    width: 100%;
    height: 1100px;
    position: relative;
    top: 60.6rem;
    
}
.bgHello{
    position: absolute;
    background-image: url('helloPic.jpg');
    background-position: center;
    background-size: cover;
    width: 750px;
    height: 750px;
    position: absolute;
    top: 8rem;
    left: 16rem;
    z-index: 1;
}
.textHello{
    width: 40%;
    z-index: 12;
    background: white;
    width: 500px;
    padding: 7rem 6rem;
    margin-left: -13rem;
    margin-top: 3rem;
}
.textHello h2{
    margin-bottom: 1rem;
}
.textHello p{
    line-height: 1.5;
}
.textHello .btn-hello{
    margin-top: 1.2rem;
    padding: 1rem 2rem;
    background:rgb(90, 48, 19);
    color: white;
    border: none;
}
.helloImage{
    border: 20px solid white;
    background-image: url('helloPic2.jpg');
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 500px;
    position: absolute;
    left: 29rem;
    top: 22rem;
}
/* hello section end */

/* choose start */
.choose{
    width: 100%;
    height: 500px;
    background: white;
    position: relative;
    top: 60rem;
    padding: 2rem 0 4rem 0;
}
.choose h1{
    text-align: center;
    font-weight: 100;
    font-size: 2.7rem;
}
.chooseOptions{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    margin-top: 1.7rem;
}
.item{
  width: 21%;
  margin-top: 3rem;
}
.item h5{
    font-size: 4rem;
    font-weight: 100;
    text-align: center;
    margin: auto;
    margin-bottom: 2.3rem;
}
.chooseOne h5{
    background: rgba(133, 161, 152, .2);
    border-radius: 50%;
    width: 100px;
}
.chooseTwo h5{
    background: rgba(202, 177, 160, .2);
    border-radius: 50%;
    width: 100px;
}
.chooseThree h5{
    background: rgba(170, 206, 180, .2);
    border-radius: 50%;
    width: 100px;
}
.chooseOptions h4{
    font-weight: 100;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}
.chooseOptions p{
    line-height: 1.6;
}
/* choose end */

/* how we work start */
.work{
    position: absolute;
    width: 100%;
    background: white;
    height: 2500px;
    top: 165rem;
}
.work h1{
    font-weight: 100;
    font-size: 2.2rem;
    text-align: center;
    padding: 7rem 0 2rem 0;
}
.consult{
    position: relative;
}
.consult img{
    width: 400px;
    height: 450px;
    position: absolute;
    top: 4rem;
    left: 23rem;
}
.consultText{
    position: absolute;
    top: 10rem;
    left: 40rem;
    width: 500px;
    height: 250px;
    background: rgb(231, 225, 213);
}
.consultText .btn-step1{
    padding: 1rem 1.2rem;
    margin: 1.5rem;
    border: 1px solid black;
    background: rgb(231, 225, 213);
}
.consultText h2{
    font-weight: 100;
    margin: 1rem 1.5rem;
}
.consultText p {
    margin: 1rem;
    line-height: 1.7;
    font-weight: 100;
}




.concept{
    position: relative;
}
.concept img{
    width: 400px;
    height: 450px;
    position: absolute;
    top: 39rem;
    left: 23.2rem;
}
.conceptText{
    position: absolute;
    top: 45rem;
    left: 1rem;
    width: 500px;
    height: 250px;
    background: rgb(202, 207, 200);
}
.conceptText .btn-step2{
    padding: 1rem 1.2rem;
    margin: 1.5rem;
    border: 1px solid black;
    background: rgb(202, 207, 200);
}
.conceptText h2{
    font-weight: 100;
    margin: 1rem 1.5rem;
}
.conceptText p {
    margin: 1rem;
    line-height: 1.7;
    font-weight: 100;
}




.source{
    position: relative;
}
.source img{
    width: 400px;
    height: 450px;
    position: absolute;
    top: 73rem;
    left: 23.2rem;
}
.sourceText{
    position: absolute;
    top: 80rem;
    left: 40rem;
    width: 500px;
    height: 290px;
    background: rgb(231, 225, 213);
}
.sourceText .btn-step3{
    padding: 1rem 1.2rem;
    margin: 1.5rem;
    border: 1px solid black;
    background: rgb(231, 225, 213);
}
.sourceText h2{
    font-weight: 100;
    margin: 1rem 1.5rem;
}
.sourceText p {
    margin: 1rem;
    line-height: 1.7;
    font-weight: 100;
}



.style{
    position: relative;
}
.style img{
    width: 400px;
    height: 450px;
    position: absolute;
    top: 106.6rem;
    left: 23.4rem;
}
.styleText{
    position: absolute;
    top: 113rem;
    left: 1rem;
    width: 500px;
    height: 259px;
    background: rgb(202, 207, 200);
}
.styleText .btn-step5{
    padding: 1rem 1.2rem;
    margin: 1.5rem;
    border: 1px solid black;
    background: rgb(202, 207, 200);
}
.styleText h2{
    font-weight: 100;
    margin: 1rem 1.5rem;
}
.styleText p {
    margin: 1rem;
    line-height: 1.7;
    font-weight: 100;
}
/* how we work end */

/* heroFooter start */
   .heroFooter{
       position: relative;
       top: 215rem;
       width: 100%;
       height: 650px;
       background-image: url('heroFooter.jpg');
       background-position: center;
       background-size: cover;
   }
   .heroFooterText{
       position: absolute;
       top: 7rem;
       left: 5rem;
       width: 990px;
       padding: 2rem;
       background: white;
       height: 450px;
       color: rgb(97, 97, 97);
       text-align: center;
   }
   .heroFooterText h2{
       text-align: center;
       padding: 2rem 0;
       font-size: 2.6rem;
       margin-bottom: 1.9rem;
   }
   .heroFooterText p{
       text-align: center;
       line-height: 1.9; 
   }
   .line{
       border-bottom: 1px solid grey;
       width: 30px;
       text-align: center;
       margin: 2rem auto;
   }
   .heroBtn{
       padding: 2rem 3rem;
       background:rgb(90, 48, 19);
       color: white;
       border: none;
       text-align: center;
       margin: 0 auto;
   }
/* heroFooter end */

/* footer start */
.footer{
    position: relative;
    top: 215rem;
    background: white;
    width: 100%;
    height: 800px;
}
.footerLine1 {
    position: absolute;
    top: 15rem;
    width: 90%;
    left: 3.4rem;
    border-bottom: 1px solid black;
}
.display{
    position: absolute;
    top: 21rem;
    left: 1.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.display img{
    width: 150px;
    height: 150px;
    margin: 0 1rem;
    border: 3px solid rgb(157, 158, 149);
}
.footerLine2 {
    position: absolute;
    top: 35rem;
    width: 90%;
    left: 3.4rem;
    border-bottom: 1px solid black;
}
.footerLine3 {
    position: absolute;
    top: 42rem;
    width: 90%;
    left: 3.4rem;
    border-bottom: 1px solid black;
}

/* footer end */